// Variables
// --------------------------------------------------

@import "mixins";


// Base
// -------------------------

$root = 14px;


// Fonts
// -------------------------

$font-size = $root;
$font-family = "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$line-height = 1.5;


// Colors
// -------------------------

$gray-dark     = #333;
$gray          = #656565;
$gray-light    = #999;
$gray-lighter  = #acacac;
$gray-lightest = #c8c7cc;
$gray-e6e6e6 = #e6e6e6;

$color-default = $gray-dark;
$color-primary = #f94e54; // 主色调为红色
$color-accent  = #35a2ff; // 辅色调为蓝色
$color-success = #4cc53f; // 绿色
$color-warning = #fba109; // 黄色
$color-danger  = #c27073; // 红色
$color-inverse = $gray-dark;
$color-primary-button = ''  // 立即购买按钮颜色定义，如果未配置则会取主色调
$color = $color-default;
$background-color = #efefef;
$background-color-light = #fbfbfb;


// Borders
// -------------------------

$border-color = #e4e4e4;
$border-radius = 4px;
$border = 1px solid $border-color;
$border-radius100 = 100px;


// Z Indexes
// -------------------------

$z-index-footer-action-bar = 100;
$z-index-seacher-filter-modal = 1000;
$z-index-seacher-filter-list = 1010;
$z-index-switcher = 1020;
$z-index-navbar = 1030;
$z-index-modal = 2000;
$z-index-dialog = 2010;
$z-index-loading = 2020;
$z-index-select = 2030;
$z-index-toast = 2040;
$z-index-topbar = 10000;
